/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
  color: #333;
}

.nav-link {
  color: #333;
}

/* Estilos de la sección de videos */
#videosContainer .video {
  margin-bottom: 20px;
}

.video h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.video .video-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
  height: 0;
  overflow: hidden;
}

.video .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos del pie de página */
footer {
  background-color: #f8f9fa;
  color: #333;
}

.carousel-item {
    margin-bottom: 20px;
  }
  
  .carousel-item iframe {
    margin: 0 auto;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 50px;
  }

  /* Estilos para las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #a200ffb0; /* Cambia el color de fondo a tu elección */
}

/* Estilos adicionales para las flechas del carrusel */
.carousel-control-prev,
.carousel-control-next {
  color: #ffffff; /* Cambia el color del icono a tu elección */
  width: 40px; /* Cambia el ancho de las flechas a tu preferencia */
  height: 40px; /* Cambia la altura de las flechas a tu preferencia */
}